#pagina-itinerario {
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  
}

#pagina-itinerario .titulo-itinerario,
#pagina-itinerario .subtitulo-itinerario {
  text-align: center;
  margin: 0.5rem 0;
}

#pagina-itinerario .boton-flotante {
  position: fixed;
  bottom: 80px;
  right: 16px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 10;
}

#pagina-itinerario .seccion-ubicacion {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  margin-bottom: 20px;
  padding: 16px;
}

#pagina-itinerario .header-ubicacion {
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}

#pagina-itinerario .titulo-ubicacion {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

#pagina-itinerario .btn-agregar-dia,
#pagina-itinerario .btn-agregar-evento {
  display: block;
  margin: 8px auto 0;
  width: 40%;
  height: 40px;
  padding: 0px;;
  font-size: 16px;
  color: #007aff;
  background-color: #f4f6f8;
  border: 1px dashed #0059be71;
  border-radius: 12px;
  transition: all 0.2s ease;
}

#pagina-itinerario .btn-agregar-dia:hover,
#pagina-itinerario .btn-agregar-evento:hover {
  border-color: #007aff;
  color: #007aff;
}

#pagina-itinerario .dia-itinerario {
  margin-top: 0.2rem;
}

#pagina-itinerario .titulo-dia {
  font-size: 16px;
  margin: 0.5rem 0;
}

#pagina-itinerario .carousel-dia {
  display: flex;
  overflow-x: auto;
  padding-inline: 8px;
  scroll-snap-type: x mandatory;
  gap: 12px;
  padding-bottom: 12px;
  scrollbar-width: none; 
}

#pagina-itinerario .tarjeta-itinerario {
  min-width: 100px;
  scroll-snap-align: start;
  max-width: 100px;
  height: 80px;
  background: white;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px rgba(0.1,0.1,0.1,0.1);
  position: relative;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#pagina-itinerario .etiqueta-evento {
  font-size: 12px;
  line-height: 1.2;
  color: #999;
}

#pagina-itinerario .checkbox-itinerario {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #aaa;
  background: white;
  cursor: pointer;
}

 .modal-formulario-eliminar {
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 60%;
  max-width: 360px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: center;
}
 .modal-formulario-tarjeta {
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 60%;
  max-width: 360px;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* MODAL PARA CUANDO */

.modal-formulario-cuando {
  background: #ffffffa6;
  backdrop-filter: blur(3px);
  border-radius: 16px;
  padding: 20px 16px;
  width: 90%;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.modal-formulario-cuando h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.modal-formulario-cuando input {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  margin-left: 12px;
  margin-top: 0px;
  background: rgba(96, 205, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1.5px solid #ccc;
  border-radius: 12px;
  padding: 3px;
  font-size: 15px;
  color: #333;
  height: 18px;
  width: 80%;
    text-align: center;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease;
}

/* MODAL DEL DONDE */

.modal-formulario-donde {
  background: #ffffffa6;
  backdrop-filter: blur(3px);
  border-radius: 16px;
  padding: 20px 16px;
  width: 90%;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.modal-formulario-donde h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.modal-formulario-donde input {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  margin-left: 15px;
  background: rgba(96, 205, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1.5px solid #ccc;
  border-radius: 12px;
  padding: 3px;
  font-size: 15px;
  color: #333;
  height: 28px;
  width: 80%;
    text-align: center;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease;
}


/* MODAL DEL evento */

.modal-formulario-evento {
  background: #ffffffa6;
  backdrop-filter: blur(3px);
  border-radius: 16px;
  padding: 20px 16px;
  width: 90%;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.modal-formulario-evento h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.modal-formulario-evento input {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  margin-left: 15px;
  background: rgba(96, 205, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1.5px solid #ccc;
  border-radius: 12px;
  padding: 3px;
  font-size: 15px;
  color: #333;
  height: 28px;
    text-align: center;

  width: 80%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease;
}

/* MODAL DEL favoritos */

.modal-formulario-favoritos {
  background: #ffffffa6;
  backdrop-filter: blur(3px);
  border-radius: 16px;
  padding: 20px 16px;
  width: 90%;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.modal-formulario-favoritos h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.modal-formulario-favoritos input {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  margin-left: 72px;
  background: rgba(96, 205, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1.5px solid #ccc;
  border-radius: 12px;
  padding: 3px;
  font-size: 15px;
  color: #333;
  height: 18px;
  width: 25%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease;
}

/* MODAL DEL EVENTO EDIT */

.modal-formulario-evento-edit {
  background: #ffffffa6;
  backdrop-filter: blur(3px);
  border-radius: 16px;
  padding: 20px 16px;
  width: 90%;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.modal-formulario-evento-edit h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.modal-formulario-evento-edit input#titulo-evento {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1.5px solid #ccc;
  border-radius: 8px;
  padding: 3px;
  font-size: 15px;
  color: #333;
  height: 18px;
    text-align: center;

  width: 90%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease;
}
.modal-formulario-evento-edit div.inputs-evento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.modal-formulario-evento-edit textarea#notas-evento {
  resize: none; /* Desactiva el "arrastrar" manual */
  overflow: hidden; /* Elimina la barra de scroll vertical */
  min-height: 60px; /* Altura mínima para que no sea enano */
  max-height: 300px; /* Por si querés limitarlo */
}


/* MODAL DEL editar tarjeta */

.modal-formulario-tarjeta {
  background: #ffffffa6;
  backdrop-filter: blur(3px);
  border-radius: 16px;
  padding: 20px 16px;
  width: 90%;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.modal-formulario-tarjeta h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.modal-formulario-tarjeta input#titulo-evento {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1.5px solid #ccc;
  border-radius: 8px;
  padding: 3px;
  font-size: 15px;
  color: #333;
  height: 18px;
  width: 90%;
    text-align: center;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease;
}
.modal-formulario-tarjeta div.inputs-evento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.modal-formulario-tarjeta textarea#notas-evento {
  resize: none; /* Desactiva el "arrastrar" manual */
  overflow: hidden; /* Elimina la barra de scroll vertical */
  min-height: 60px; /* Altura mínima para que no sea enano */
  max-height: 300px; /* Por si querés limitarlo */
}
.modal-formulario-tarjeta input#precio-evento {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(6px);
  border: 1.5px solid #ccc;
  border-radius: 8px;
  padding: 3px;
  font-size: 15px;
  color: #333;
  height: 18px;
  width: 20%;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.2s ease;
}

#modal-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.233);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
body, html {
  overflow-y: auto !important;
  height: auto !important;
}

.pagina {
  min-height: 100vh;
  overflow-y: auto;
}
.color-alojamiento {
  border: 2px solid #25c410 !important;
}

.color-transporte {
  border: 2px solid #1d8b9eb9 !important;

}

.color-comida {
  border: 2px solid #f59a12d2 !important;

}

.color-atraccion {
  border: 2px solid #8a11a0ad !important;

}

.color-otros {      
  border: 2px solid #dd07077c !important;

}
#pagina-itinerario .dia-itinerario, .seccion-ubicacion {
  position: relative;
}
button.btn-cerrar-ubicacion {
  position: absolute;
  top: 5px;
  right: 1px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}


button.btn-cerrar-dia{
  position: absolute;
  top: 0px;
  right: 2px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
div.info-tarjeta {
  font-size: 16px;
}
h3.titulo-dia{
  font-size: 24px;
  margin:0;
  text-align: start;
}


.modal-formulario button#btn-confirmar-aceptar {
  background-color: #ff1b1b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: #333 0px 2px 4px;
}
button#btn-generico {
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
    box-shadow: #333 0px 2px 4px;
}

